.adtable{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 55;
}

.adtable-date{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}


.adtable-footer-header{
    border-top: 1px solid #000;
    width: 100%;
    height: auto; 
    z-index: 70;
}

.adtable-footer-header > li{
    list-style: none;
    float: left;
    line-height: 30px;
    border: 1px solid #000;
    border-top:none;
    z-index: 2;
    background-color: #8044b7;
    margin-right: -1px;
    font-size:12px;
}

.adtable-footer-header li a{
    color: #fff; 
    font-size:14px;
    padding: 0 5px;
    display: block;
    letter-spacing: 0.5;
    line-height: 35px;
}

.adtable-footer-header > li.active{
    padding: 0px 10px;
}

.adtable-footer-header > li.active a{
    color: #ffe200;
    font-weight: bold;
    font-size: 18px;
}


.adtable tbody tr td input{
    display: none;
    border: 1px solid #00c0ef;
    padding: 0 5px;
    height: 25px;
    margin: 5px 0;
    border-radius: 2px;
    line-height: 25px;   
}
.adtable tbody tr.edit td input{
    display: block;
}
.adtable tbody tr.edit td input[disabled="disabled"]{
    border: none;
}
.adtable tbody tr.edit td > div{
    display: none;
}
.current_date{
    width: 70px;
    text-align: center;
}

.adtable .db-date{
    display: none;
}

.adtable thead .current_date{
    position: absolute;
}
.adtable thead .current_date input{
    padding: 0;
    margin: 0;
    height: 18px;
    border: none;
    position: absolute;
    top: 6px;
    color: #000;
    text-align: center;
    padding: 0 1px;
    background-color: #fff;
    line-height: 15px;
}

input.year{
    left: 8px;
    width: 33px; 
}
input.month{
    width:18px;
    left:46px;
}

#fixed-header,#fixed-footer{
    display: block;
    position: fixed;
    left: 50px;
    z-index: 60;
    height: 30px;

}
#fixed-header{
    top: 0;
    border: 1px solid #000;
}
#fixed-footer{
    bottom: 36px;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
}

#fixed-header-content,#fixed-footer-content{
    position: relative;
    background-color: #000;
    height: 30px;
    display: block;
}
#fixed-footer-content{
    background: #d4e0a4;
}
#fixed-header-content > *,#fixed-footer-content > *{
    border-right: 1px solid #ccc;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
}
#fixed-footer-content > *{
    color: #000;
}
#fixed-header-content > *:last-child,#fixed-footer-content > *:last-child{
    border-right: 1px solid #000;  
}

#fixed-header-content .current_date input{
    display: none;
}

.adtable-footer-header.scroll{
    position: fixed;
    bottom: 0;
    background: #000;
}

.adtable-footer-header > li{
    position: relative;
    height: 36px;
}
.adtable-footer-header > li > div{
    position: absolute;
    width: 500px;
    height: 240px;
    background: #e4ac92;
    display: none;
    bottom: 35px;
    border: 1px solid #000;
    left: -1px;
    padding: 20px;
}

.adtable-footer-header label{
    color: #000;
}

.adtable-footer-header input{
    width: 150px;
    border:1px solid #000;
    background: #fff;
}

.adtable-footer-header textarea{
    resize: none;
    border:1px solid #000;
    background: #fff;
    height: 150px;
}

.adtable-footer-header li:last-child{
    border:none;
    background: none;
    
}

.adtable-footer-header li:last-child span{
    width: 50px;
    text-align: center;
    display: block;
}

.adtable-footer-header li:last-child i{
    line-height: 38px;
    cursor: pointer;
}

.adtable-footer-header.scroll li:last-child i{
    color:#fff;
}

    
.add-account ul{
    height: 200px;
    overflow-y: scroll;
    width: 200px;
    float: left;
    border:1px solid #000;
    padding: 5px;
    margin: 20px;
}

.add-account ul li{
    cursor: pointer;
    height: 20px;
}

.add-account ul li:active{
    color: red
}

.add-account ul li.hover,.add-account ul li:hover{
    background: #000;
    color: #fff;
}

.add-account >div{
    min-width: 240px;
    float: left;
}