ul, ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

.left{
	float:felt;
}
.right{
	float:right;
}


table.form-table{
    width: 100%;
    background-color: #fff;
    z-index: 1;
}
.form-table td,.form-table th{
    height:30px;
    line-height: 30px;
    padding: 0 5px;
    border-left: 1px solid #ccc;
}
.form-table td:first-child,.form-table th:first-child{
    border-left: none;
}
.form-table th{
    text-align: center;
}

.form-table tbody{
    border: 1px solid #000;
    border-top:none; 
}
.form-table thead{
    border: 1px solid #000;
    border-bottom:none; 
}
.form-table thead tr{
    border: none;
    background-color: #000;
    color: #fff;
}

.form-table tr{
    border: 1px solid #000;
    border-bottom: 1px solid #ccc;
}

.form-table tr:last-child{
    padding-bottom: 1px;
    border-bottom: none;
}



.form-table tbody tr:hover{
    background: #efefef;
}

.cover{
    position: absolute;
    z-index: 99;
    display: none;
}
.cover.show{
    display: block;
}

.cover-bg{
    position: absolute;
    background-color: #333;
    opacity: 0.79;
    z-index: 1;
}

.cover-content{
    position: absolute;
    background-color: #fff;
    z-index: 11;
    opacity: 1;
    border: 1px solid #000;
    box-shadow: 7px 10px 14px #333;
}

.cover-content span{
    margin: 20px auto;
    display: block;
    width: 250px;
    text-align: center;
}

.status{
    background-color: #000;
    color: #fff;
}
.status.status-1{
    background-color: #f39c12;
}
.status.status-2{
    background-color: #6bbd71;
}
.status.status-3{
    background-color: #999;
}


.page_menu{
    position: absolute;
    background-color: #fff;
    border: 1px solid #bbb;
}

.page_menu ul{
    width: 160px;
    padding: 2px 2px 2px 2px;
}

.page_menu li{
    float: left;
    width: 100%;
    padding: 0;
}

.page_menu li a{
    line-height: 20px;
    display: block;
    width: 100%;
    border: 1px solid #fff;
    color: #000;
}

.page_menu li a:hover{
    border: 1px solid #00c0ef;
    border-radius: 3px;
}

.page_menu li a .img{
    width:30px;
    text-align: center;
    display: inline-block;
}
.page_menu li a .content{
    padding: 2px 2px 2px 5px;
    border-left: 1px solid #ccc;
    margin-left: 2px;
    display: inline;
    font-size: 14px;
}