ul, ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

.left{
	float:felt;
}
.right{
	float:right;
}


table.form-table{
    width: 100%;
    background-color: #fff;
    z-index: 1;
}
.form-table td,.form-table th{
    height:30px;
    line-height: 30px;
    padding: 0 5px;
    border-left: 1px solid #ccc;
}
.form-table td:first-child,.form-table th:first-child{
    border-left: none;
}
.form-table th{
    text-align: center;
}

.form-table tbody{
    border: 1px solid #000;
    border-top:none; 
}
.form-table thead{
    border: 1px solid #000;
    border-bottom:none; 
}
.form-table thead tr{
    border: none;
    background-color: #000;
    color: #fff;
}

.form-table tr{
    border: 1px solid #000;
    border-bottom: 1px solid #ccc;
}

.form-table tr:last-child{
    padding-bottom: 1px;
    border-bottom: none;
}

.form-table tfoot{
    background: #d4e0a4;
}



.form-table tbody tr:hover{
    background: #efefef;
}

.status{
    background-color: #000;
    color: #fff;
}
.status.status-1{
    background-color: #f39c12;
}
.status.status-2{
    background-color: #6bbd71;
}
.status.status-3{
    background-color: #999;
}


.page_menu{
    position: absolute;
    background-color: #fff;
    border: 1px solid #bbb;
}

.page_menu ul{
    width: 160px;
    padding: 2px 2px 2px 2px;
}

.page_menu li{
    float: left;
    width: 100%;
    padding: 0;
}

.page_menu li a{
    line-height: 20px;
    display: block;
    width: 100%;
    border: 1px solid #fff;
    color: #000;
}

.page_menu li a:hover{
    border: 1px solid #00c0ef;
    border-radius: 3px;
}

.page_menu li a .img{
    width:30px;
    text-align: center;
    display: inline-block;
}
.page_menu li a .content{
    padding: 2px 2px 2px 5px;
    border-left: 1px solid #ccc;
    margin-left: 2px;
    display: inline;
    font-size: 14px;
}

.title{
    border-bottom: 3px solid #000;
    padding-bottom: 5px; 
}


.covermask{
    position: absolute;
    z-index: 99;
}

.covermask-bg{
    background-color: #333;
    opacity: 0.79;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.covermask-content{
    position: absolute;
    background-color: #fff;
    z-index: 11;
    opacity: 1;
    border: 1px solid #000;
    box-shadow: 7px 10px 14px #333;
}

.covermask-content .covermask-text{
    margin: 20px auto;
    display: block;
    width: 250px;
    text-align: center;
}

.line1{
    border-top: 1px solid #000;
    margin: 30px 0 20px;
    height: 1px;
}

.btn-inverse {
    background-color: #414141;
    background-image: -ms-linear-gradient(top,#555,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#555),to(#222));
    background-image: -webkit-linear-gradient(top,#555,#222);
    background-image: -o-linear-gradient(top,#555,#222);
    background-image: -moz-linear-gradient(top,#555,#222);
    background-image: linear-gradient(top,#555,#222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555',endColorstr='#222222',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse, .btn-inverse:hover , .btn-inverse:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.btn-inverse:hover {
    background-color: #222;
    text-decoration: none;
    background-position: 0 -15px;
}

.btn-inverse:active, .btn-inverse.active {
    background-color: #080808 \9;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222;
}

