.c-container{

}

@media (min-width: 992px){
	.account-right,.user-right{
		padding-right:30px;
	}
}


.c-container table td{
	text-align: center;
}

.account-right textarea{
	overflow-y: auto;
	resize: vertical;
	height: 69px;
}